/*
* CTA Styles
*/

.cta-container {
    background-color: var(--dc-blue-color);
    padding: 1rem 0;
}

.cta-item img {
    width: 2.5rem;
    max-height: 3rem;
    object-fit: contain;
}

.cta-item img[src$=".svg"] {
    filter: brightness(0) invert(1);
}