/*
* Footer styles
*/

.footerlinks {
    background-image: var(--footer-link-bg);
    background-size: cover;
    /* background-position: center; */
    position: relative;
    overflow: hidden;
}

.ul-title {
    font-weight: 600;
    font-size: 1.2rem;
}

.footer-link-item a {
    color: var(--bottom-footer-link);
}

.dc-logo-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 80%;
    background: var(--dc-logo-overlay) no-repeat;
    background-size: auto 130%;
    background-position: 70% center;
    pointer-events: none;
}

.bottom-footer {
    background-color: var(--bottom-footer-bg);
}

.social-cta p {
    color: var(--dc-blue-color);
    font-weight: 600;
    font-size: 1.2rem;
}

.btn-outline-dc-color {
    --bs-btn-color: #f8f9fa;
    --bs-btn-border-color: rgb(2, 130, 250);

    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: rgb(2, 130, 250);

    --bs-btn-hover-border-color: rgb(2, 130, 250);

    --bs-btn-focus-shadow-rgb: 248, 249, 250;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: rgb(2, 130, 250);

    --bs-btn-active-border-color: rgb(2, 130, 250);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: rgb(2, 130, 250);

    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: rgb(2, 130, 250);

    --bs-gradient: none;
}