/*
*  Header Style
*/

header {
    background-color: var(--header-bg);

}

.top-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    align-items: center;
}

ul.nav-links-container {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1rem;
    align-items: center;
    color: var(--nav-links-not-active);
}

a.nav-links-container {
    text-decoration: none;
}

a.nav-links-container:active {
    color: var(--nav-link-active);
}