/*
*  Header Style
*/

header {
    background-color: var(--header-bg);

}

.top-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    align-items: center;
}

ul.nav-links-container {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1rem;
    align-items: center;
    color: var(--nav-links-not-active);
}

.nav-link a {
    color: var(--nav-links-not-active);
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    line-height: 1;
    text-decoration: none;
    display: inline-block;
    padding: 18px 14px;
}


a.nav-links-container.is-active {
    color: var(--nav-link-active);
    border-bottom: 3px solid var(--nav-link-active);
    padding-bottom: 15px;
}