/*
* Color variables
*/
:root {
    --dc-blue-color: rgb(2, 130, 250);
    --main-bg: rgb(28, 28, 28);
    --nav-link-not-active: rgb(82, 82, 82);
    --nav-link-active: rgb(2, 130, 250);
    --bottom-footer-bg: rgb(48, 48, 48);
    --bottom-footer-link: rgb(140, 135, 104);
    --header-bg: rgb(255, 255, 255);
    --cta-link-color: rgb(255, 255, 255);
    --footer-link-ul-title: rgb(255, 255, 255);
}

/*
* Background images
*/
:root {
    --jumbotron-bg: url('../assets/jumbotron.jpg');
    --footer-link-bg: url('../assets/footer-bg.jpg');
    --dc-logo-overlay: url('../assets/dc-logo-bg.png');
}

/*
* Fonts
*/
:root {
    font-family: "Open Sans", Arial, sans-serif;
}
