/*
* Reset
*/

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*
* Color variables
*/
:root {
    --dc-blue-color: rgb(2, 130, 250);
    --main-bg: rgb(28, 28, 28);
    --nav-links-not-active: rgb(82, 82, 82);
    --nav-links-active: rgb(2, 130, 250);
    --bottom-footer-bg: rgb(48, 48, 48);
    --bottom-footer-links: rgb(140, 135, 104);
    --header-bg: rgb(255, 255, 255);
}

/*
* Background images
*/

:root {
    --jumbotron-bg: url('../assets/jumbotron.jpg');
    --footer-link-bg: url('../assets/footer-bg.jpg');
    --dc-logo-overlay: url('../assets/dc-logo-bg.png');
}

/*
* Fonts
*/

:root {
    font-family: "Open Sans", Arial, sans-serif;
}